# .gitignore

# Virtual Environment
.venv/

# typings
typings/

# Ignore all notebooks
*.ipynb


# Ignore all data
data/

# Legacy pyporject
pyproject_old.txt

#pycache
**/__pycache__/

#scrapers and stuff:
scraper.py